# Logistic Regression

...

In [5]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
filepath = os.getcwd() + '/logReg_data1.txt'
df = pd.read_csv(filepath, names = ['exam1', 'exam2', 'admitted'])
df.head()

       exam1      exam2  admitted
0  34.623660  78.024693         0
1  30.286711  43.894998         0
2  35.847409  72.902198         0
3  60.182599  86.308552         1
4  79.032736  75.344376         1